@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    margin-left: 2%;
}
.half-width img{
    width: 80%;
}
.hire-button{
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
    background-image: linear-gradient(#f88771, #f3674b);
    border-radius: 5px;
    color: white;
}
.top-baner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-items{
    width: 40%;
    box-shadow: 10px 10px 40px black;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
}
#full-stack-developer{
    border-left: 7px solid rgb(255, 113, 87);
}
#baby-web-developer{
    border-left: 7px solid blue;
}
.copy-right{
    text-align: center;
   padding-bottom: 20px;
}